{{define "auth-screen"}}
    {{template "auth-tabs"}}
    {{template "auth-form" .}}
{{end}}

{{define "auth-tabs"}}
<div>
    <button hx-get="/loginForm" hx-target="#auth-form">login</button>
    <button hx-get="/registerForm" hx-target="#auth-form">register</button>
</div>
{{end}}

{{define "auth-form"}}
    <div id="auth-form">
        {{template "login-form" .}}
    </div>
{{end}}

{{define "login-form"}}
    <div class="primary panel">
        <form class="primary">
            <label for="handle" class="primary">handle</label>
            <input type="text" name="handle" required class="primary"/>
            <label for="password" class="primary">password</label>
            <input type="password" name="password" required class="primary"/>
            <input type="submit" value="login" hx-post="/login" hx-target="#screen" class="primary"/>
        </form>
        <p class="error">{{.Message}}</p>
    </div>
{{end}}

{{define "register-form"}}
    <div class="secondary panel">
        <form class="secondary">
            <label for="handle" class="secondary">handle</label>
            <input type="text" name="handle" required class="secondary"/>
            <label for="handle" class="secondary">display name</label>
            <input type="text" name="displayName" required class="secondary"/>
            <label for="password" class="secondary">password</label>
            <input type="password" name="password" required class="secondary"/>
            <input type="password" name="confirmPassword" required class="secondary"/>
            <input type="submit" value="register" hx-post="/register" hx-target="#auth-form" class="secondary"/>
        </form>
        <p class="error">{{.Message}}</p>
    </div>
{{end}}
