{{define "auth-screen"}}
    {{template "auth-tabs"}}
    {{template "auth-form" .}}
{{end}}

{{define "auth-tabs"}}
<div class="tab-row">
    <button hx-get="/loginForm" hx-target="#auth-form" class="green-theme tab">login</button>
    <button hx-get="/registerForm" hx-target="#auth-form" class="blue-theme blue tab">register</button>
</div>
{{end}}

{{define "auth-form"}}
    <div id="auth-form">
        {{template "login-form" .}}
    </div>
{{end}}

{{define "login-form"}}
    <div class="green-theme tab-panel">
        <form>
            <label for="handle">handle</label>
            <input type="text" name="handle" required class="green-theme"/>
            <label for="password">password</label>
            <input type="password" name="password" required class="green-theme"/>
            <input type="submit" value="login" hx-post="/login" hx-target="#content" class="green-theme"/>
        </form>
        <p class="error-theme">{{.Message}}</p>
    </div>
{{end}}

{{define "register-form"}}
    <div class="blue-theme tab-panel">
        <form>
            <label for="handle">handle</label>
            <input type="text" name="handle" required class="blue-theme"/>
            <label for="handle">display name</label>
            <input type="text" name="displayName" required class="blue-theme"/>
            <label for="password">password</label>
            <input type="password" name="password" required class="blue-theme"/>
            <input type="password" name="confirmPassword" required class="blue-theme"/>
            <input type="submit" value="register" hx-post="/register" hx-target="#auth-form" class="blue-theme"/>
        </form>
        <p class="error-theme">{{.Message}}</p>
    </div>
{{end}}
